.Layout {
  padding: 2em 2em;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  grid-template-rows: 15% auto;
}

@media only screen and (min-width: 400px) {
  .Layout {
    width: 400px;
  }
}
