.Card {
  border-radius: 5px;
  border: 2px solid rgb(241, 41, 208);
  background-color: rgb(255, 175, 248);
  box-shadow: 3px 2px rgb(153, 0, 145);
  padding: 1em 2em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}
